<?xml version='1.0' encoding='utf-8'?>

<plugin id="cordova-plugin-mapbox" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>MapboxPlugin
  </name>
  <js-module name="MapboxPlugin" src="www/MapboxPlugin.js">
    <clobbers target="cordova.plugins.MapboxPlugin" />
  </js-module>

  <platform name="android">

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="MapboxPlugin">
        <param name="android-package" value="ddi.gobelins.cordovaplugins.MapboxPlugin" />
      </feature>
    </config-file>

    <config-file parent="/*" target="AndroidManifest.xml">
    </config-file>

    <source-file src="src/android/MapboxPlugin.java" target-dir="src/ddi/gobelins/cordovaplugins" />

    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    </config-file>

    <framework src="src/android/mapbox.gradle" custom="true" type="gradleReference"/>

  </platform>

</plugin>
